---
title: Colors
layout: main
additional_js:
 - jquery
 - colors
---

<div class="grid">
	<% dir = File.dirname(__FILE__) %>
	<% File.open(File.join(dir, "images", "img.txt")).each_with_index do |line, index| %>
		<% next unless !line.lstrip.empty? %>
		<% asset = line.split("|") %>
    <% filename = "/colors/images/#{asset[0]}" %>
		<div class="grid-item">
			<img id="img_<%= index %>" src="<%= filename %>"></img>
			<div class="overlay">
				<p id="p_<%= index %>" class="caption">
					<%= asset[1].lstrip %>
				</p>
			</div>
		</div>
	<% end %>
</div>
</div>
<div class="lightbox">
	<img id="lbImg"></img>
	<p id="lbP"></p>
</div>
