@import 'global';

body {
  background-color: #091524;
}

#main-input {
  margin: 12px;
}

.typedRow {
  height: 21px;
  margin: 2px;
  display: table;
  width: 100%;
}

.typedRow > span {
  letter-spacing: 0.39px;
  font-family: "Lucida Console", monaco;
  vertical-align: middle;
  display: table-cell;
  line-height: 17px;
  float: left;
  width: auto;
}

.input {
  appearance: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border: none;
  width: 100%;

  color: $slate;
  text-shadow: 0px 0px 0px #fff;
  -webkit-text-fill-color: transparent;
  z-order: 0;
}

.input::-webkit-input-placeholder {
  color: inherit;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.inputLine {
  width: 100px;
}

.input:focus {
  outline: none
}

span {
  color: $wheat;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.red {
  color: red;
}

.cursor {
  font-family: "Lucida Console", monaco;
  background-color: $wheat;
  opacity: 0.75;
  z-order: 1;
  margin-left: 1px;
}

