@import "site";

h2 {
	margin: 0;
}

.container {
	height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background: $teal;
}

#header {
  width: auto;
  display: inline-block;
}

#header h1 {
  margin: 10px;
  font-size: 3em;
  color: white;
}

#menu-container {
  display: flex;
  flex-direction: row;
  height: auto;
	justify-content: space-between;
}

@media screen and (max-width: 767px) {
  #menu-container {
    flex-direction: column;
  }
	.menu-item {
		margin: 5px 0px !important;
	}
}

.menu-item {
  cursor: pointer;
  padding: 10px;
  flex-grow: 1;
}
.menu-item:last-child {
	margin-right: 0px;
	margin-left: 10px;
}
.menu-item:first-child {
	margin-right: 10px;
	margin-left: 0px;
}

.menu-item h2 {
  color: white;
  text-transform: uppercase;
}


