@charset "utf-8";
@import "normalize";
@import "theme";

// query sizes
$large: 1440px;
$medium: 1024px;
$tablet: 767px;
$phone: 480px;

// fonts
$opensans: "open sans";
$pacifico: "pacifico";

// common styles
.black {
  background: black;
}

.fillheight {
  height: 100%;
}

.fillwidth {
  width: 100%;
}

h1! h2 {
  font-family: $opensans;
  text-transform: uppercase;
}

.container {
  width: 100%;
}

.header {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header h1 {
  margin: 10px;
  font-weight: 700;
  font-size: 3em;
  color: $slate;
}

.title-bg {
  background: $teal;
}

// mixin

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.bg-slate {
  background-color: $slate;
}
.bg-wheat {
  background-color: $wheat;
}
