<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400,400i|Montserrat:700" rel="stylesheet">
    <link href='style/index.css' rel='stylesheet' type='text/css'>
    <% if !isProd %><script src="//localhost:35729/livereload.js"></script><% end %>
  </head>
  <body>
    <% items = {:colors => "/colors", :code => "/code", :words => "/words"} %>
    <div class="container fillheight fillwidth">
      <div id="header">
        <div class="black">
          <h1>STEVEN D COFFEY DOT COM</h1>
        </div>
        <div id="menu-container">
          <% index = 0 %>
          <% items.each do |k,v| %>
            <% margin = 'margin-right' %>
            <% if index == items.size - 1 %>
              <%  margin = '' %>
            <% end %>
            <% index +=1 %>
            <div class="menu-item black <%= margin %>" onclick="window.location='<%=v%>'">
              <h2><%= k %></h2>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
