---
title: Code
layout: code
additional_js:
 - jquery
 - filesystem
 - terminal
 - code
---
<body>
  <template id="typedRowTemplate">
  <div class="typedRow">
    <span style="margin-right: 5px;" hidden="hidden" class="green">stevendcoffey.com:<span id="wd" class="blue"></span>&nbsp;%</span><span>&nbsp;</span><span></span>
  </div>
  </template>

  <template id="inputTemplate">
  <span class="input" contenteditable="true"></span><span class="cursor">&nbsp;</span>
  </template>

  <div id="terminal">
  </div>

</body>
</html>

