.BlurView {
  background: inherit;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    background: inherit;
    position: absolute;
    height: 120vh;
    width: 120vw;
    right: -25px;
    left: -25px;
    bottom: -25px;
    top: -25px;
    box-shadow: inset 0 0 0 3000px rgba(30, 30, 30, 0.6);
    filter: blur(15px);
  }
}

.BlurView--children {
  z-index: 1;
}
