.Dock--wrapper {
  background-image: url(../assets/img/background-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  height: 87px;
  width: 100vw;
}

.Dock {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px 5px 0 0;
  height: 100%;
  min-width: 300px;
  transition: top 0.5s cubic-bezier(0, 0, 0.22, 1.04);
}

.Dock--iconsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Dock--hoverRegion {
  position: absolute;
  height: 20px;
  bottom: 0;
  left: 0;
  right: 0;
}

.hidden {
  top: 100px;
}

.shown {
  top: 0px;
}
