@import "colors";
@import "grid";

.SystemToolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding: 0 12px;
  position: absolute;
  height: $system_toolbar_height;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}

.SystemToolbar--childWrapper {
  display: flex;
  flex-direction: row;
}

.SystemToolbarItem {
  display: flex;
  align-items: center;

  padding: 0 6px;
  height: 100%;
  width: inherit;

  &:active {
    background-color: $col_system_highlight;
  }
}

.SystemToolbarItemMenu {
  position: absolute;
  top: 30px;
}
