@import "colors";
@import "grid";

.Terminal {
  background-color: $col_drk_blue;
  height: 100%;
  width: 100%;
  padding: $grid_base 0;
  overflow-x: hidden;
}

.Terminal--rows {
  margin: 0 $grid_base;
}
