@import 'reset';
@import 'color';

h2 {
  margin: 0;
  font-family: $montserrat;
}

.container {
  text-align: center;
  background: $teal;
}

.fillheight {
  height: 100%;
}

.fillwidth {
  width: 100%;
}

.black {
  background: black;
}

#header {
  display: inline-block;
  @include vertical-align();
}

#header h1 {
  margin: 10px;
  font-family: $montserrat;
  font-size: 3em;
  color: white;
}

#menu-container {
  display: flex;
  flex-direction: row;
  height: auto;
}

@media screen and (max-width: 767px) {
  #menu-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .margin-right {
    margin-right: 0px !important;
  } 
}

.menu-item {
  cursor: pointer;
  padding: 10px;
  flex-grow: 1;
}

.margin-right {
  margin-right: 10px;
}

.menu-item h2 {
  color: white;
}

