<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style/style.css" />
<link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400,400i|Montserrat:700" rel="stylesheet">
<script src="/js/jquery/dist/jquery.js"></script>
<script src="js/photography.js"></script>
<% if !isProd %><script src="//localhost:35729/livereload.js"></script><% end %>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>COLORS</h1>
    </div>
    <div class="grid">
      <% dir = File.dirname(__FILE__) %>
      <% File.open(File.join(dir, "assets", "img.txt")).each_with_index do |line, index| %>
      <% next unless !line.lstrip.empty? %>
      <% asset = line.split("|") %>
      <% filename = File.join("assets", asset[0]) %>
      <div class="grid-item">
        <img id="img_<%= index %>" src="<%= filename %>"></img>
        <div class="overlay">
          <p id="p_<%= index %>" class="caption">
            <%= asset[1].lstrip %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="lightbox">
    <img id="lbImg"></img>
    <p id="lbP"></p>
  </div>
</body>
<script>
</script>
</html>


