.Window {
  display: flex;
  flex-direction: column;

  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  border-radius: 5px;
  overflow: hidden;
}


.Window--contentArea {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.Window--childrenArea {
  flex-grow: 1;
}
