---
title: 'Steve Coffey'
layout: index
---

<div class='container fillheight fillwidth'>
  <div id='img-wrapper'>
    <img id='personal' class='centerv centerh' src='/images/personal.png'/>
  </div>
  <div class='container'>
    <div id='text-wrapper' class='fillwidth'>
      <div class='text-container'>
        <p><span class='script'>Hey There!</span></p>
        <p id='body-text'>
        I’M STEVE, A SAN FRANCISCO-BASED ENGINEER, PHOTOGRAPHER, DESIGNER, AND PETTER OF DOGS. I CURRENTLY WORK AT <a href='https://braintreepayments.com' target='blank'>BRAINTREE</a>, HELPING POWER THE NEXT GENERATION OF BUSINESSES ACCEPT PAYMENTS IN ANY FORM. CHECK OUT <a href='/resume' target='blank'>MY RESUME</a>, MY <a href='https://github.com/sdcoffey'>GITHUB PAGE</a>, <a href='/colors' target='blank'>TAKE A GANDER</a> AT SOME PHOTOS I’VE SHOT, OR <a href="/code">PULL BACK THE CURTAIN.</a>
        </p>
      </div>
    </div>
  </div>
</div>
