---
title: Resume
additional_js:
- jquery
---

<div id='header' class='content-section'>
  <div class='section-header' id='img-sidebar'>
    <img src='/images/resume_sidebar.jpg'/>
  </div>
  <div id='header-content-wrapper' class='section-content'>
    <h1 id='page-title'>STEVE COFFEY</h1>
    <h3 id='page-subtitle'>FULL-STACK ENGINEER. BELIEVER IN WHITESPACE, BOLD IDEAS, UNIT TESTS, AND THE POWER OF COFFEE.</h3>
  </div>
</div>
<!-- <div class='content&#45;section'> -->
<!--   <div class='section&#45;header'> -->
<!--     <h2>ABOUT ME</h2> -->
<!--   </div> -->
<!--   <div class='section&#45;content'> -->
<!--     <p> -->
<!--       <%= lorem.sentences 4 %> -->
<!--     </p> -->
<!--     <p> -->
<!--       <%= lorem.sentences 4 %> -->
<!--     </p> -->
<!--   </div> -->
<!-- </div> -->
<div class='content-section'>
  <div class='section-header'>
    <h2>EXPERIENCE</h2>
  </div>
  <div class='section-content'>
    <div class='experience-section'>
      <div class='experience-header'>
        <h3>BRAINTREE PAYMENTS</h3>
      </div>
      <h4>FULL-STACK ENGINEER, JULY 2015 - PRESENT</h4>
      <div class='experience-content'>
        <ul>
          <li>Led development of a client analytics service that handles up to 1.1k requests per second, enabling data-driven product decisions.</li>
          <li>Owned Android and iOS SDKs used by 8.3 million customers daily; drove significant increases in year over year transaction volume.</li>
          <li>Maximized developer resources by building a tool for generating production-ready SDKs in 6 target languages.</li>
        </ul>
      </div>
    </div>
    <div class='experience-section'>
      <div class='experience-header'>
        <h3>BARRACUDA NETWORKS</h3>
      </div>
      <h4>MOBILE TEAM LEAD, OCTOBER 2013 - JUNE 2015</h4>
      <div class='experience-content'>
        <ul>
          <li>Led mobile team for Copy, a cloud-storage solution with over 5 million users.</li>
          <li>Crafted a standard design language for Barracuda’s Android apps, bringing consistent direction and vision to the product line.</li>
          <li>Implemented a cross-platform native sync engine with a team of four, making our apps more performant and enabling code reuse.</li>
        </ul>
      </div>
    </div>
    <div class='experience-section'>
      <div class='experience-header'>
        <h3>RUDDER</h3>
      </div>
      <h4>CO-FOUNDER, FEBRUARY 2014 - MARCH 2016</h4>
      <div class='experience-content'>
        <ul>
          <li>Co-founded and developed Rudder, an iOS navigation app that prioritizes well-lit walking paths.</li>
          <li>Partnered with 11 U.S. and international cities to source streetlight and walking path datasets.</li>
          <li>Featured in <a href='https://www.fastcodesign.com/3044597/never-walk-home-in-the-dark-again-thanks-to-a-simple-app'>FastCompany</a> and <a href='http://www.slate.com/blogs/future_tense/2015/04/07/navigation_app_rudder_balances_direct_walking_routes_with_lighting.html'>Slate</a> for our innovative thinking and design.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- <div class='content&#45;section'> -->
<!--   <div class='section&#45;header'> -->
<!--     <h2>LANGUAGES &#38; FRAMEWORKS</h2> -->
<!--   </div> -->
<!--   <div class='section&#45;content'> -->
<!--   </div> -->
<!-- </div> -->
