<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css" />
<link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400,400i|Nunito+Sans|Poppins:400,700" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>light &amp; color</h1>
    </div>
    <div class="grid">
      <% dir = File.dirname(__FILE__) %>
      <% File.open(File.join(dir, "assets", "img.txt")).each do |line| %>
      <% next unless !line.lstrip.empty? %>
      <% asset = line.split("|") %>
      <% filename = File.join("assets", asset[0]) %>
      <div class="grid-item <% if horiz?(File.join(dir, filename)) %>grid-item--width2<% end %>">
        <img src="<%= filename %>"></img>
        <div class="overlay">
          <p class="caption">
            <%= asset[1] %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</body>
</html>


